/* imports & reset */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #000;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

/* header */
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 5em;
    padding-left: 2em;
    position: fixed;
    background-image: linear-gradient(180deg,rgba(0,0,0,.7) 10%,transparent);
}

.header .nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header .nav img {
    width: 6em;
    height: auto;
}

.header .nav ul {
    display: flex;
}

.header .nav ul li{
    list-style: none;
    text-decoration: none;
}

.header a {
    color: #fff;
    text-decoration: none;
    margin: 1em;
}

.header a:hover {
    opacity: 80%;
}

/* banner */
.banner {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-image: url(../img/Banner.webp);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner .title {
    width: 30em;
}

.banner .titleDescription {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    left: 4%;
    bottom: 25%;
    position: absolute;
}

.banner img {
    width: 100%;
}

.filmdesc {
    margin-top: 1em;
    color: #fff;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
}

.banner .buttons {
    display: flex;
    justify-content: space-between;
    width: 19em;
    margin: 1em 0;
}

.banner .buttons .playbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    background-color: #fff;
    font-size: 1.2em;
    padding: 0.5em 1em;
    cursor: pointer;
    border: none;
    border-radius: 0.2em;
}

.vignette {
    background: linear-gradient(77deg, rgba(0, 0, 0, .6), transparent 85%);
    bottom: 0;
    left: 0;
    opacity: 1;
    position: absolute;
    right: 26.09%;
    top: 0;
    transition: opacity .5s;
}

.banner .buttons .infobutton {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    color: #fff;
    background-color: rgba(109, 109, 110, 0.7);
    cursor: pointer;
    font-size: 1.2em;
    padding: 0.2em 1em;
    border: none;
    border-radius: 0.2em;
}

.banner .buttons span {
    padding: 0.1em;
}

/* icon */
ul.navicons {
    padding-right: 2em;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.navicons span {
    padding: 0 0.5em;
}

.navicons .notify {
    color: #fff;
    font-size: 1em;
}

.navicons .profile {
    display: flex;
    align-items: center;
}

.profile span {
    padding: 0.2em !important;
}

.navicons .profile .caret {
    color: #fff;
    font-size: 1em;
}

.navicons img {
    border-radius: 0.3em;
}

.navicons .search {
    color: #fff;
    font-size: 1em;
}